http_interactions:
- request:
    method: POST
    uri: https://nsrapi.xyz/nsr_wsb.php
    body:
      string: '{"opts":{"mode":"meta"}}'
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '[{"meta":{"app_version":"3.0","db_version":"3.0","db_version_comments":"Integrate
        past hotfixes, remove enquist, update powo, flbr, conosur, vascan","db_modified_date":"2024-09-25","db_full_build_date":"2024-09-25","code_version":"3.0","code_version_release_date":"2024-09-25","code_version_comments":"Modifications
        to support more complete metadata and schema changes to source powo","citation":"@misc{nsr.app,
        author = {Boyle, B. L. and Maitner, B. and Barbosa, G. C. and Rethvick, S.
        Y. B. and Enquist, B. J.}, journal = {Botanical Information and Ecology Network},
        title = {Native Species Resolver}, year = {2024}, url = {https:\/\/nsr.biendata.org\/},
        note = {Accessed <date_of_access>} }","publication":"","logo_path":"images\/"}}]'
  recorded_at: 2026-02-19 19:12:07
recorded_with: VCR-vcr/2.0.0
