http_interactions:
- request:
    method: POST
    uri: https://nsrapi.xyz/nsr_wsb.php
    body:
      string: '{"opts":{"mode":"resolve"},"data":[["Acer rubrum","Canada","Ontario",null,1],["Aspen
        tremuloides","Canada","Ontario",null,2]]}'
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"id":["family","genus","species","country","state_province","county_parish","poldiv_full","poldiv_type","native_status_country","native_status_state_province","native_status_county_parish","native_status","native_status_reason","native_status_sources","isIntroduced","isCultivatedNSR","is_cultivated_taxon","user_id"],"286684":["Sapindaceae","Acer","Acer
        rubrum","Canada","Ontario","","Canada:Ontario","state_province","N","N","","N","Native
        to region, as per checklist","powo, usda","0","0","0","1"],"286685":["","Aspen","Aspen
        tremuloides","Canada","Ontario","","Canada:Ontario","state_province","A","A","","A","Absent
        from all checklists for region","powo, usda, vascan","1","0","0","2"]}'
  recorded_at: 2026-02-19 19:12:07
recorded_with: VCR-vcr/2.0.0
