http_interactions:
- request:
    method: post
    uri: http://vegbiendev.nceas.ucsb.edu:9865/nsr_wsb.php
    body:
      encoding: ''
      string: '{"opts":{"mode":"sources"}}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"sources":{"source_id":"1","source_name":"conosur","source_name_full":"Cat\u00e1logo
        de las plantas vasculares del Cono Sur (Argentina, Sur de Brasil, Chile, Paraguay
        y Uruguay)","source_url":"http:\/\/www.darwin.edu.ar\/Proyectos\/FloraArgentina\/fa.htm","date_accessed":"2024-09-01","is_comprehensive":"1"}},{"sources":{"source_id":"2","source_name":"flbr","source_name_full":"Brazilian
        Flora 2020 project","source_url":"http:\/\/ipt.jbrj.gov.br\/jbrj\/resource?r=lista_especies_flora_brasil#downloads","date_accessed":"2024-08-01","is_comprehensive":"1"}},{"sources":{"source_id":"3","source_name":"fwi","source_name_full":"Flora
        of the West Indies","source_url":"http:\/\/botany.si.edu\/antilles\/westindies\/","date_accessed":"2015-09-16","is_comprehensive":"1"}},{"sources":{"source[...]
