http_interactions:
- request:
    method: post
    uri: https://nsrapi.xyz/nsr_wsb.php
    body:
      encoding: ''
      string: '{"opts":{"mode":"citations"}}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"citations":{"source":"nsr.app","citation":"@misc{nsr.app, author
        = {Boyle, B. L. and Maitner, B. and Barbosa, G. C. and Rethvick, S. Y. B.
        and Enquist, B. J.}, journal = {Botanical Information and Ecology Network},
        title = {Native Species Resolver}, year = {2024}, url = {https:\/\/nsr.biendata.org\/},
        note = {Accessed <date_of_access>} }"}},{"citations":{"source":"flbr","citation":"@article{b14,\\nauthor
        = {Brazil Flora, G.},\\njournal = {Instituto de Pesquisas Jardim Botanico
        do Rio de Janeiro},\\nnote = {Dataset\/Checklist.},\\npages = {15468},\\ntitle
        = {Brazilian Flora 2020 project - Projeto Flora do Brasil 2020. v393.140},\\nvolume
        = {v393.140},\\nyear = {2014},\\ndoi = {10.15468\/1mtkaw},\\nurl = {http:\/\/ipt.jbrj.gov.br\/jbrj\/resource?r=lista_especies_flora_brasil#downloads},\\n}\\n"}},{"citations":{"source":"mab","citation":"\"@book{mabberley2008mabberley,title={Mabberleys
        plant-book: a portable dictionary of plants, their classifications and uses.},author={Mabberley,
        David John and others},number={Ed. 3},year={2008},publisher={Cambridge University
        Press}}\""}},{"citations":{"source":"newguinea","citation":"\\n@article{camara2020new,\\n  title={New
        Guinea has the world\u00e2\u20ac\u2122s richest island flora},\\n  author={C{''a}mara-Leret,
        Rodrigo and Frodin, David G and Adema, Frits and Anderson, Christiane and
        Appelhans, Marc S and Argent, George and Guerrero, Susana Arias and Ashton,
        Peter and Baker, William J and Barfod, Anders S and others},\\n  journal={Nature},\\n  pages={1--5},\\n  year={2020},\\n  publisher={Nature
        Publishing Group}\\n}\\n"}}]'
  recorded_at: 2024-09-27 19:05:43 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
