http_interactions:
- request:
    method: POST
    uri: https://nsrapi.xyz/nsr_wsb.php
    body:
      string: '{"opts":{"mode":"dd_ns"}}'
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '[{"dd_ns":{"val":"P","ordinal_position":"1","description":"Present
        in checklist for region of observation but no explicit status assigned"}},{"dd_ns":{"val":"N","ordinal_position":"2","description":"Native
        to region of observation"}},{"dd_ns":{"val":"Ne","ordinal_position":"3","description":"Native
        and endemic to region of observation"}},{"dd_ns":{"val":"A","ordinal_position":"4","description":"Absent
        from all checklists for region of observation"}},{"dd_ns":{"val":"I","ordinal_position":"5","description":"Introduced,
        as declared in checklist for region of observation"}},{"dd_ns":{"val":"Ie","ordinal_position":"6","description":"Endemic
        to other region and therefore introduced in region of observation"}},{"dd_ns":{"val":"UNK","ordinal_position":"7","description":"Unknown,
        no checklists available for region of observation and taxon not known to be
        endemic elsewhere"}}]'
  recorded_at: 2026-02-19 19:12:02
recorded_with: VCR-vcr/2.0.0
