http_interactions:
- request:
    method: POST
    uri: https://nsrapi.xyz/nsr_wsb.php
    body:
      string: '{"opts":{"mode":"resolve"},"data":[["Eucalyptus","Australia","Western
        Australia","",1],["Abrothallus bertianus","Austria","","",2],["Cocos nucifera","Jamaica","","",3],["Eucalyptus","Mexico","","",4],["Larrea
        tridentata","Mexico","","",5],["Pinus ayacahuite","Mexico","","",6],["Ceiba
        pentandra","Peru","","",7],["Pinus ayacahuite","Peru","","",8],["Pinus ponderosa","Peru","","",9],["Pinus
        ponderosa","United States","Arizona","Pima",10],["Larrea tridentata","Argentina","","",11],["Pinus
        ponderosa","Argentina","","",12],["Ceiba pentandra","Brazil","Amazonas","",13],["Ceiba
        pentandra","Canada","","",14],["Erigeron bonariensis","Jamaica","","",15],["Cyrilla
        racemiflora","Jamaica","","",16],["Tetracentraceae","United States","","",17],["Pinaceae","United
        States","","",18],["Blandfordiaceae","Peru","","",19],["Blandfordiaceae","United
        States","","",20],["Blandfordiaceae","Australia","","",21],["Blandfordiaceae","France","","",22]]}'
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"id":["family","genus","species","country","state_province","county_parish","poldiv_full","poldiv_type","native_status_country","native_status_state_province","native_status_county_parish","native_status","native_status_reason","native_status_sources","isIntroduced","isCultivatedNSR","is_cultivated_taxon","user_id"],"286652":["Myrtaceae","Eucalyptus","","Australia","Western
        Australia","","Australia:Western Australia","state_province","N","N","","N","Native
        to region, as per checklist"[...]
