http_interactions:
- request:
    method: POST
    uri: https://nsrapi.xyz/nsr_wsb.php
    body:
      string: '{"opts":{"mode":"resolve"},"data":[["Acer rubrum","Canada","Ontario",null,1]]}'
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"id":["family","genus","species","country","state_province","county_parish","poldiv_full","poldiv_type","native_status_country","native_status_state_province","native_status_county_parish","native_status","native_status_reason","native_status_sources","isIntroduced","isCultivatedNSR","is_cultivated_taxon","user_id"],"286683":["Sapindaceae","Acer","Acer
        rubrum","Canada","Ontario","","Canada:Ontario","state_province","N","N","","N","Native
        to region, as per checklist","powo, usda","0","0","0","1"]}'
  recorded_at: 2026-02-19 19:12:05
recorded_with: VCR-vcr/2.0.0
